:javascript
  $(function() {
    set_menu("about");
  });
.container-fluid
  .row-fluid
    .span12
      %h2 about
      %dl
        %dt
          %dd
            %a{ :href => "http://github.com/stephenhu/booker" }
              %button.btn.btn-primary.btn-large grab the source from github 
        %dt
          %h3 the stack
          %dd
            %table.table
              %tr
                %td.dark operating system
                %td
                  %a{ :href => "http://www.centos.org" } centos
              %tr
                %td.dark database
                %td
                  %a{ :href => "http://mysql.com" } mysql
                  %a{ :href => "http://sqlite.com" } sqlite
              %tr
                %td.dark web framework
                %td
                  %a{ :href => "http://www.sinatrarb.com" } sinatra
                  %a{ :href => "http://rack.github.com" } rack
              %tr
                %td.dark web server
                %td
                  %a{ :href => "http://code.macournoyer.com/thin/" } thin
              %tr
                %td.dark ui
                %td
                  %a{ :href => "http://dev.w3.org/html5/spec/single-page.html" } html5
                  %a{ :href => "http://ui.jquery.org" } jquery
                  %a{ :href => "http://www.w3schools.com/css/" } css
                  %a{ :href => "http://twitter.github.com/bootstrap" } bootstrap
                  %a{ :href => "http://glyphicons.com" } glyphicons
              %tr
                %td.dark template engine
                %td
                  %a{ :href => "http://haml.info" } haml
              %tr
                %td.dark orm
                %td
                  %a{ :href => "http://ar.rubyonrails.org/active_record" } activerecord
        %dt
          %h3 tested against
          %dd
            %a{ :href => "http://www.google.com/chrome" }
              %img{ :src => "https://www.google.com/intl/en/chrome/assets/common/images/chrome_logo_2x.png" }

