.container-fluid
  .row-fluid
    .span12
      %h2 about
      %dl
        %dt
          %h3 grab the source
          %dd
            %a{ :href => "http://github.com/stephenhu/booker" } github
        %dt
          %h3 the stack
          %dd
            %table.table
              %tr
                %td.dark operating system
                %td
                  %a{ :href => "" } centos
              %tr
                %td.dark database
                %td
                  %a{ :href => "" } mysql
                  %a{ :href => "" } sqlite
              %tr
                %td.dark web framework
                %td
                  %a{ :href => "" } sinatra
                  %a{ :href => "" } rack
              %tr
                %td.dark web server
                %td
                  %a{ :href => "" } thin
              %tr
                %td.dark ui
                %td
                  %a{ :href => "" } html5
                  %a{ :href => "" } jquery
                  %a{ :href => "" } css
                  %a{ :href => "" } bootstrap
              %tr
                %td.dark template engine
                %td
                  %a{ :href => "" } haml
              %tr
                %td.dark orm
                %td
                  %a{ :href => "" } activerecord
        %dt
          %h3 tested against
          %dd
            %a{ :href => "" } chrome
