.container-fluid
  .row-fluid
    .span12
      %img{:src => url('images/10.png'), :class => "floor", :width => 640, :usemap => "#floorplan"}
      %map{:name => "floorplan"}
        %area{:shape => "rect", :title => "buddha hymns/菩萨蛮", :coords => "263, 125, 327, 172", :href => "#"}
        %area{:shape => "rect", :title => "crimson tide/满江红", :coords => "545, 17, 640, 70", :href => "#"}
        %area{:shape => "rect", :title => "sandy brook/浣溪沙", :coords => "545, 71, 640, 122", :href => "#"}
        %area{:shape => "rect", :title => "fisherman pride/渔家傲", :coords => "545, 123, 640, 175", :href => "#"}
        %area{:shape => "rect", :title => "bof/蝶恋花", :coords => "118, 298, 184, 350", :href => "#"}
        %area{:shape => "rect", :title => "fair lady/念奴娇", :coords => "118, 351, 184, 390", :href => "#"}
        %area{:shape => "rect", :title => "garden spring/沁园春", :coords => "605, 186, 640, 255", :href => "#"}
        %area{:shape => "rect", :title => "plum blossom/一剪梅", :coords => "605, 256, 640, 323", :href => "#"}
        %area{:shape => "rect", :title => "ocean songs/水调歌头", :coords => "545, 324, 640, 419", :href => "#"}
        %area{:shape => "rect", :title => "pantry", :coords => "305, 393, 543, 519", :href => "#"}
%hr
