!!!
%html{ "lang" => "en" }

 %head
  %title booker - by vmware (alpha)
  %link{ :rel => "shortcut icon", :href => url("images/booker.ico") }
  %link{ :rel => "stylesheet", :href => url("bootstrap/css/bootstrap.css"), :type => "text/css" }
  %link{ :rel => "stylesheet", :href => url("styles/booker.css"), :type => "text/css" }
  %link{ :rel => "stylesheet", :href => url("bootstrap/css/bootstrap-responsive.css"), :type => "text/css" }
  %link{ :rel => "stylesheet", :href => url("jquery/themes/base/jquery.ui.all.css") }
  %script{ :src => url("scripts/booker.js") }
  %script{ :src => url("scripts/json2.js") }
  %script{ :src => url("jquery/jquery-1.7.2.js")}
  %script{ :src => url("jquery/plugins/jquery.cookie.js") }
  %script{ :src => url("jquery/plugins/jquery.maphilight.js") }
  %script{ :src => url("jquery/ui/jquery.ui.core.js") }
  %script{ :src => url("jquery/ui/jquery.ui.widget.js") }
  %script{ :src => url("jquery/ui/jquery.ui.mouse.js") }
  %script{ :src => url("jquery/ui/jquery.ui.button.js" ) }
  %script{ :src => url("jquery/ui/jquery.ui.draggable.js" ) }
  %script{ :src => url("jquery/ui/jquery.ui.position.js" ) }
  %script{ :src => url("jquery/ui/jquery.ui.resizable.js" ) }
  %script{ :src => url("jquery/ui/jquery.ui.dialog.js" ) }
  %script{ :src => url("jquery/ui/jquery.ui.datepicker.js") }
  %script{ :src => url("jquery/ui/jquery.effects.core.js") }
  :plain
   <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
   <!--[if lt IE 9]>
     <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
   <![endif]-->

 %body
  = haml :navbar
  = yield

 = haml :footer
