.navbar.navbar-fixed-top
  .navbar-inner
    .container-fluid
      %a.btn.btn-navbar{ "data-toggle".to_sym => "collapse", "data-target".to_sym => ".nav-collapse" }
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.brand{:href => '/'}
        booker 
        %sup alpha
      .nav-collapse
        %ul.nav
          %li.active#floors
            %a{:href => '/floors'} floors
          %li#rooms
            %a{:href => '/rooms'} rooms
          %li#reservations
            %a{:href => '/reservations'} reservations
          %li#statistics
            %a{:href => '/statistics'} statistics 
          %li#about
            %a{:href => '/about'} about
