.container-fluid
  .row-fluid
    .span12
      %h2= tag
      %table
        - tags.each do |room|
          %tr
            %td
              %a{:href => url("/rooms/#{room.id}")}
                = room.name
