:javascript
  $(function() {
    set_menu("tags");
  });

.container-fluid
  .row-fluid
    .span12
      %h2 tags
      %table
        - tags.each do |tag|
          %tr
            %td
              %a{:href => url("/tags/#{tag.tag}")}
                = tag.tag
%hr
